.ticker-tape-container {
    overflow-x: hidden;
    display: flex;
    width: 100%;
  }
  .ticker-tape {
    --direction: normal;
    --duration: 30s;
    --delay: 0s;
    --iteration-count: infinite;
    --play: running;
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    flex: 0 0 auto;
    align-items: center;
    animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
    animation-play-state: var(--play);
    animation-delay: var(--delay);
    animation-direction: var(--direction);
  
    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
  
  /* GENERAL STYLING */
  
  .basic-styling {
    border-radius: 10px;
    margin: 1rem auto;
    background-color: #6ba78c;
    padding: 1rem;
    color: #010101;
    font-size: 1.5rem;
    font-family: sans-serif;
    max-width: 100%;
    width: 100%;
    span {
      padding: 0.25rem 1rem;
      border-radius: 10px;
      border: 2px dashed darken(#6ba78c, 20%);
      background-color: darken(#6ba78c, 10%);
    }
  }
  