{{/* sports-organization-schema.html */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SportsOrganization",
  "name": "Cheshire & North Wales Hawking Club",
  "alternateName": "CNWHC",
  "url": "https://canwhc.co.uk",
  "logo": "https://canwhc.co.uk/favicon-32x32.png",
  "description": "A friendly falconry club serving Cheshire and North Wales, offering monthly meetings, field meets, and a community for bird of prey enthusiasts.",
  "foundingDate": "2022",
  "member": {
    "@type": "Person",
    "name": "Steve Lloyd",
    "jobTitle": "Chairman"
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Railway Inn, Chester Road",
    "addressLocality": "Helsby",
    "postalCode": "WA6 0AN",
    "addressCountry": "GB"
  },
  "email": "cheshirehawkingclub@hotmail.co.uk",
  "sameAs": [
    "https://www.facebook.com/groups/1211552709807540/"
  ]
}
</script>

